@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Olá, se você quiser fazer analise de imagens <a href="/analise">Clique aqui!</a></p>
</div>
